––––––––––saveAs: template.hbs
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Your project – {{currentPage.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="boilerplate,php">
    <meta name="description" content="Your project description">
    <link rel="stylesheet" href="/style.css?v={{version}}">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.runtime.min.js"></script>
    <script src="/script.js?v={{version}}"></script>
    <script>HBS.defaultData = {{{defaultData}}}</script>
  </head>
  
  <body>
    <header>
      <h1>Your project</h1>
    </header>
    <div data-hbs="{{currentPage.hbs}}">
      {{{include currentPage.hbs}}}
    </div>
		<footer>
			Page footer <a href="example.com">example.com</a> {{year}}
		</footer>
  </body>
</html>

––––––––––saveAs: error.hbs
<div class="error">
  Sorry, something went wrong.
  <a href="javascript:location.reload();">Reload?</a>
  {{#if this}}
    <pre>{{{json this}}}</pre>
  {{/if}}
</div>

––––––––––saveAs: loading.hbs
<div class="loading">
  <img src="img/loading.svg">
  Loading…
</div>
